<h2>
  Buscar por Region<small> {{ regionActiva | titlecase }} </small>
</h2>
<hr />

<h3>Seleccione la region</h3>
<div class="grid mb-2">
  <div class="col">
    <button pButton class="p-button-rounded p-button-help mr-2"
            [class]="mutateClassCSS(region)" *ngFor="let region of regiones"
            (click)="activarRegion(region)">
      {{ region | titlecase }}
    </button>
  </div>
</div>

<div class="mt-2" *ngIf="errorFlag">
    <p-message
      severity="error"
      text="No se encontró nada en la region {{ region }}"
    ></p-message>
  </div>

<div class="mt-2" *ngIf="!errorFlag">
  <app-pais-table [paises]="paises"></app-pais-table>
</div>
