<p-table
  [value]="paises"
  styleClass="p-datatable-striped"
  responsiveLayout="scroll"
  [rowHover]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Codigo</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Poblacion</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pais>
    <tr>
      <td>{{ pais.id }}</td>
      <td>{{ pais.alpha3Code }}</td>
      <td>
        <img
          [src]="pais.flag"
          [alt]="pais.name"
          width="100"
          class="p-shadow-4"
        />
      </td>
      <td>{{ pais.capital }}, {{ pais.name }}</td>
      <td>{{ pais.population | number }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-eye"
          routerLink="/pais/{{ pais.alpha2Code }}"
          class="p-button-rounded p-button-primary p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
