<h2>Por Pais</h2>
<hr />

<div class="grid">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="search()">
      <input
        type="text"
        pInputText
        [(ngModel)]="termino"
        placeholder="Buscar pais..."
        name="ITPais"
      />
    </form>
  </div>
</div>

<hr />

<div *ngIf="errorFlag">
  <p-message
    severity="error"
    text="No se encontró nada con el término {{ termino }}"
  ></p-message>
</div>

<div *ngIf="!errorFlag">
  <app-pais-table [paises]="paises"></app-pais-table>
</div>
